---
layout: default
title: "Frutas de diseño"
---

<div class="grid cols-2">
  <div>
  <p>
    <b>Frutas de diseño</b> presenta una selección de marcas de frutas, con foco
    en los diseños creados en España desde finales de los años 50 del siglo XX.
    Unos diseños populares que llevan años a nuestro alrededor y que se han ido
    actualizando casi inadvertidamente.
  </p>
  <p>
    Desde la reactivación económica del final de la posguerra se genera un
    cambio de estilo respecto a las creaciones del inicio del siglo pasado,
    estimulado por la renovación de las técnicas de impresión. Si antes la
    imagen de la fruta se apoyaba en ilustraciones de artistas, ahora prevalece
    la gráfica, con diseños centrados en la tipografía y basados en colores
    planos y llamativos, alrededor de marcas con nombres sorprendentes.
  </p>
  <p>
    Frutas de diseño incluye más de 250 papeles de seda, 120 cajas y 360
    etiquetas. Es la selección de un volumen cuatro veces mayor y no pretende
    ser completa o definitiva, sino un archivo abierto que reúne muestras
    recogidas durante años en fruterías de barrio, a los que se han sumado
    ejemplares provenientes de coleccionistas, visitas a mercados centrales,
    imprentas, fábricas de cajas y comercializadoras de frutas.  </p>
  </div>
  <div>
  </div>
</div>

{% include image.html file="Frutas de diseno16.jpg" alt="lalal" %}

<section>
    <h3>Papeles de seda (selección)<h3>
    <div class="grid cols-2">
        {% include image.html file="Frutas de diseno01.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno02.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno03.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno04.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno05.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno06.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno07.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno08.jpg" alt="lalal" %}
    </div>
</section>

<section>
    <h3>Tablillas de madera de cajas de frutas<h3>
    {% include image.html file="Frutas de diseno09.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno10.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno11.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno12.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno13.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno14.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno15.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno17.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno18.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno19.jpg" alt="lalal" %}
    {% include image.html file="Frutas de diseno21.jpg" alt="lalal" %}
</section>
<section>
    <h3>Etiquetas de frutas<h3>
    {% include image.html file="Frutas de diseno20.jpg" alt="lalal" %}
</section>
