---
layout: default
title: "Frutas de diseño"
---

<h1 class="bg-red-100">{{ page.title }}</h1>
{% include image.html file="Frutas de diseno01.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno02.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno03.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno04.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno05.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno06.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno07.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno08.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno09.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno10.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno11.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno12.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno13.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno14.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno15.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno16.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno17.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno18.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno19.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno20.jpg" alt="lalal" %}
{% include image.html file="Frutas de diseno21.jpg" alt="lalal" %}

