---
layout: default
title: "Frutas de diseño"
carousel:
  - Frutas de diseno16.jpg 
  - Frutas de diseno17.jpg 
  - Frutas de diseno18.jpg 
  - Frutas de diseno19.jpg 
  - Frutas de diseno20.jpg 
  - Frutas de diseno21.jpg 
---

<div class="grid cols-2">
    <div>
        <p><em>Frutas de diseño</em> presenta una selección de marcas de
        frutas, con foco en los diseños creados en España desde finales de los
        años 50 del siglo XX. Unos diseños populares que llevan años a nuestro
        alrededor y que se han ido actualizando casi inadvertidamente.</p>
        <p>Desde la reactivación económica del final de la posguerra se genera
        un cambio de estilo respecto a las creaciones del inicio del siglo
        pasado, estimulado por la renovación de las técnicas de impresión.
        Si antes la imagen de la fruta se apoyaba en ilustraciones de artistas,
        ahora prevalece la gráfica, con diseños centrados en la tipografía y
        basados en colores planos y llamativos, alrededor de marcas con nombres
        sorprendentes.</p>
        <p><em>Frutas de diseño</em> incluye mas de 250 papeles de seda, 120
        cajas y 360 etiquetas. Es la selección de un volumen cuatro veces mayor
        y no pretende ser completa o definitiva, sino un archivo abierto que
        reúne muestras recogidas durante años en fruterías de barrio, a los que
        se han sumado ejemplares provenientes de coleccionistas, visitas
        a mercados centrales, imprentas, fábricas de cajas y comercializadoras
        de frutas.</p>
        <p> El uso de marcas comerciales y la costumbre de envolver las frutas
        se mantienen desde hace más de 100 años. Una gran parte de las marcas
        surge en empresas familiares que han nombrado sus productos con libertad
        y cercanía. Muchas vienen de la época de oro de la exportación de
        cítricos, entre 1920 y 1930. Hoy en día, algunas marcas siguen en manos
        de las familias, mientras otras han pasado a empresas comercializadoras
        que llevan varias marcas y calidades de frutas. Cada empresa, pequeña o
        gran comercializadora, ha nombrado y diseñado sus marcas con el objetivo
        de llamar la atención y destacar entre muchas otras. Hacerse visible ha
        sido la inspiración y el estímulo a la imaginación.</p>
    </div>
    <div>
        <h3>Una exposición sobre la gráfica de las frutas</h3>
        <ul>
            <li><em>CentroCentro</em>, Madrid. 10 febrero-15 mayo 2022</li>
            <li>Diseño y comisariado: Florencia Grassi y Leandro Lattes, El vivero</li>
            <li>Coordinación y producción: CentroCentro</li>
            <li>Montaje: <a target="_blank" href="http://artecexposiciones.es/">Artec Exposiciones</a></li>
            <li>Papeles de seda y etiquetas adhesivas: ejemplares de El vivero
                y cortesía de
                <a target="_blank" href="https://etiquetasdenaranjasam.blogspot.com/">Alfredo Masip</a>,
                <a target="_blank" href="https://fi.pinterest.com/naranjadepapel/">Carles Iranzo</a>,
                <a target="_blank" href="http://www.etiquetasdefrutas.es">Miguel Sánchez</a>,
                <a target="_blank" href="http://www.nebotlucas.com/">Nebot Lucas</a>,
                <a target="_blank" href="http://naranjassamel.com">Naranjas Samel</a> y
                <a target="_blank" href="https://www.naranjastorres.com/" >Naranjas Torres</a>.
            </li>
            <li>Etiquetas naranjeras, cortesía de: Tomás Viana; y de
                <a target="_blank" href="https://etiquetasdenaranjasam.blogspot.com/">Alfredo Masip</a>,
                <a target="_blank" href="https://fi.pinterest.com/naranjadepapel/">Carles Iranzo</a> y
                <a target="_blank" href="http://www.etiquetasdefrutas.es">Miguel Sánchez</a>.
            </li>
            <li>Clichés de flexografía, cortesía de: <a href="http://www.timbrado.es/">Timbrado Burrianense</a>.</li>
            <li>Tablillas y cajas, cortesía de:
                <a target="_blank" href="http://envasesfenollosa.com">Envases Fenollosa</a>;
                <a target="_blank" href="https://fedemco.com/">Federación española del envase de madera y sus componentes, FEDEMCO</a>;
                <a target="_blank" href="https://www.mercamadrid.es/">Mercamadrid</a>,
                <a target="_blank" href="https://www.mercavalencia.es/">Mercavalencia</a>, y fruterías de barrio.
            </li>
            <li><a href="https://www.instagram.com/elviverodesign/">Instagram El vivero</a></li>
            <li><a href="#">Hoja de sala</a></li>
            <li><a href="#">Resumen de prensa</a></li>
        </ul>
    </div>
</div>

{% include carousel.html images=page.carousel alt="carousel alt" %}

<section>
    <h3>Papeles de seda (selección)<h3>
    <div class="grid cols-2">
        {% include image.html file="Frutas de diseno01.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno02.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno03.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno04.jpg" alt="lalal" %}
        {% include image.html file="Frutas de diseno05.jpg" alt="lalal" lazy=true %}
        {% include image.html file="Frutas de diseno06.jpg" alt="lalal" lazy=true %}
        {% include image.html file="Frutas de diseno07.jpg" alt="lalal" lazy=true %}
        {% include image.html file="Frutas de diseno08.jpg" alt="lalal" lazy=true %}
    </div>
</section>

<section>
    <h3>Tablillas de madera de cajas de frutas<h3>
    {% include image.html file="Frutas de diseno09.jpg" alt="lalal" lazy=true %}
    {% include image.html file="Frutas de diseno10.jpg" alt="lalal" lazy=true %}
    {% include image.html file="Frutas de diseno11.jpg" alt="lalal" lazy=true %}
    {% include image.html file="Frutas de diseno12.jpg" alt="lalal" lazy=true %}
    {% include image.html file="Frutas de diseno13.jpg" alt="lalal" lazy=true %}
    {% include image.html file="Frutas de diseno14.jpg" alt="lalal" lazy=true %}
    {% include image.html file="Frutas de diseno15.jpg" alt="lalal" lazy=true %}
</section>

<section>
    <h3>Etiquetas de frutas<h3>
</section>

<section>
    {% include vimeo.html src="https://player.vimeo.com/video/683899531?h=67bbf561ad" width=640 height=360 %}
    <!-- <iframe src="https://player.vimeo.com/video/684189734?h=42f80fc35f" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> -->
</section>

<section>
  <p>Agradecemos el apoyo y entusiasmo de:</br>
  María Conde, Sergio España y María Luz Fitzsimons; de los coleccionistas:
  <a target="_blank" href="https://etiquetasdenaranjasam.blogspot.com/">Alfredo Masip</a>,
  <a target="_blank" href="https://fi.pinterest.com/naranjadepapel/">Carles Iranzo</a>,
  <a target="_blank" href="http://www.etiquetasdefrutas.es">Miguel Sánchez</a> y Tomás Viana; de Alberto Palmí,
  <a target="_blank" href="https://fedemco.com/">Federación Española de envases de madera y sus componentes, FEDEMCO</a>;
  de Alberto Marco Granell, Gustavo Sales Traver, y Laura Alamilla,
  <a target="_blank" href="http://www.timbrado.es/">Timbrado Burrieanense</a>;
  de Vicente Fenollosa,
  <a target="_blank" href="http://envasesfenollosa.com">Envases Fenollosa</a>;
  de Pascual Nebot Lucas, Mayte Nebot Lucas y Maria Ángeles Masia Burdeus,
  <a target="_blank" href="http://www.nebotlucas.com/">Nebot Lucas</a>;
  de Rosa Torrico Martinez,
  <a target="_blank" href="http://naranjassamel.com">Naranjas Samel</a>;
  de Luis de Antonio Murillo,
  <a target="_blank" href="http://www.garciaballester.es">Grupo García Ballester</a>;
  de Ángeles Hernández y Noelia Cubells Sanía,
  <a target="_blank" href="https://www.mercavalencia.es/">Mercavalencia</a>;
  de Paloma de la Riva Amez y Melanie González Vivero,
  <a target="_blank" href="https://www.mercamadrid.es/">Mercamadrid</a>.</p>
</section>
