<div class="carousel">
    <div class="slides">
        {% for img in include.images %}
        {% if forloop.index == 1 %}
        <div class="slide active">
            {% include image.html file=img alt=include.alt %}
        </div>
        {% else %}
        <div class="slide">
            {% include image.html file=img alt=include.alt lazy=true %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="controls">
        <button class="prev">&lt;</button>
        <div class="indicator">
            <span class="current">1</span>
            /
            <span class="total">{{ include.images | size }}</span>
        </div>
        <button class="next">&gt;</button>
    </div>
</div>
