<div class="carousel">
    <div class="slides">
        {% for img in include.images %}
        {% if forloop.index == 1 %}
        <div class="slide active">
            {% include image.html file=img alt=include.alt %}
        </div>
        {% else %}
        <div class="slide">
            {% include image.html file=img alt=include.alt lazy=true %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="controls">
      <button class="prev"></button>
      <button class="next"></button>
    </div>
    <div class="indicators">
       {% for img in include.images %}
       <span {% if forloop.index == 1 %}class="current"{% endif %}></span>
        {% endfor %}
    </div>
</div>
