@import "base";

.carousel {
    margin-bottom: $s2;
    & > .slides {
        & > .slide {
            @media screen and (min-width: $lg) {
                display:none;
                &.active {
                    display:block;
                }
            } 
            @media screen and (max-width: $lg) {
                margin-bottom: $s3;
            } 
        }
    }
    & > .controls {
        display:none;
        @media screen and (min-width: $lg) {
            display: block;
        }
        button {
            cursor:pointer;
        }
        & > * {
            display: inline-block;
        }
    }
}

