@import "base";

html {
    font-size: 100%;
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding:0;
    color: $color-primary;
}

a {
    color: $color-primary;
    text-decoration: none;
}

a:hover {
    color: $color-bg;
    background-color: $color-primary;
}

b, strong { font-weight: bold; }
em { font-style: italic; }

button {
    border: none;
    background: none;
    padding:0;
}

// top navbar
header {
    position:sticky;
    top: 0;

    @include mx-auto;
    background: $color-bg;
    max-width: $lg;
    padding: $s2 $s4;
    & > nav {
        & > ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            column-gap: $s2;
            & > li > * {
                margin: 0px;
                font-weight: normal;
                font-size: $font-base;
            }
        }
    }
}


//main containter
main {
    @include mx-auto;
    background: $color-bg;
    max-width: $lg;
    padding: 0 $s4;
    p {
        font-size: $font-base;
        margin-top: 0;
        margin-bottom: .8rem;
        &:not(:first-child) {
            text-indent: $s4;
        }
    }
    h3 {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

.grid {
    display: grid;
    gap: $s4;
}

.cols-2 {
   grid-template-columns: 1fr 1fr;
}

.cols-3 {
   grid-template-columns: 1fr 1fr 1fr;
}

.cols-4 {
   grid-template-columns: 1fr 1fr 1fr 1fr;
   @media screen and (max-width: $lg) {
    grid-template-columns: 1fr 1fr;
   }
}

.cols-2, .cols-3, .cols-4 {
   @media screen and (max-width: $sm) {
    grid-template-columns: 1fr;
   }
}
