html {
    font-size: 100%;
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding:0;
    color: $color-primary;
}

a {
    color: $color-primary;
    text-decoration: none;
}

a:hover {
    color: $color-bg;
    background-color: $color-primary;
}

p {
    font-size: $font-base;
}

img {
    max-width: 100%;
    height: auto;
}

// top navbar
header {
    position:sticky;
    top: 0;

    @include mx-auto;
    background: $color-bg;
    max-width: $lg;
    padding: $s2 $s4;
    & > nav {
        & > ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            column-gap: $s2;
            & > li > * {
                margin: 0px;
                font-weight: normal;
                font-size: $font-base;
            }
        }
    }
}


//main containter
main {
    @include mx-auto;
    background: $color-bg;
    max-width: $lg;
    padding: 0 $s4;
}

.grid {
    display: grid;
}

@each $n in 1,2,3,4,5 {
    .cols-#{$n} {
        grid-template-columns: repeat($n, 1fr);
    }
}
